@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: #f1f5f9;
}

.header {
  padding: 30px;
  font-size: 4rem;
}

.new-btn {
  padding: 10px 30px;
  border-radius: 5px;
  background: #334155;
  border: 1px solid #334155;
  font-size: 1.25rem;
  color: #f1f5f9;
}

.new-btn:hover {
  background: #f1f5f9;
  color: #334155;
  border: 1px solid #334155;
  cursor: pointer;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

form {
  display: grid;
  gap: 1.25rem;
}

form .input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  font-size: 1rem;
  padding-left: 4px;
}

form input:focus {
  outline: none;
  border: 1px solid #334155;
}

label {
  text-align: left;
}

.submit-btn {
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px solid #334155;
  background-color: #334155;
  color: #f1f5f9;
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.submit-btn:hover {
  border: 1px solid #334155;
  background-color: #f1f5f9;
  color: #334155;
  cursor: pointer;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
}

#close:hover {
  cursor: pointer;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 40px;
  width: 100%;
  max-width: 1100px;
  margin-top: 20px;
}

.book {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  gap: 1.25rem;
  border-radius: 5px;
  background-color: #fff;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.read {
  background-color: rgb(150, 241, 166);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #475569;
  font-size: 1.25rem;
}

.read:hover {
  background-color: #15c20f;
  color: #f1f5f9;
  cursor: pointer;
}

.not-read:hover {
  background-color: #f74a4a;
  color: #f1f5f9;
  cursor: pointer;
}

.remove-book {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #475569;
  font-size: 1.25rem;
}

.remove-book:hover {
  cursor: pointer;
  background-color: #334155;
  color: #f1f5f9;
}

.not-read {
  background-color: rgb(243, 193, 193);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #475569;
  font-size: 1.25rem;
}
